.priceCard {
  background-color: rgba(0, 51, 145, 0.5);
  width: 350px;
  min-height: 470px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.priceCard .priceTag {
  font-size: 36px;
  color: var(--color-light);
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 3;
  font-weight: 400;
  letter-spacing: 0.04em;
  align-self: right;
}

.roomDescription {
  padding: 30px;
  text-align: left;
}

.priceCard p {
  color: var(--color-light);
}

.priceCard h2 {
  color: var(--color-light);
}
