.themeDividerVert {
  width: 150px;
  display: none;
}
.themeName {
  color: var(--color-blue1);
  transform: rotate(-90deg);
  text-align: start;
}

.line-2 {
  margin-bottom: 95px;
  margin-top: 150px;
  width: 297px;
  height: 2px;
  border: 0;
  background: var(--color-blue1);
}

@media screen and (max-width: 1024px) {
  .line-2 {
    transform: rotate(-90deg);
  }
  .themeName {
    transform: rotate(90deg);
  }
}
