.HeroImg {
  /* background-position: center; */
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ctaBtn {
  bottom: 90px;
  position: absolute;
  align-self: center;
  z-index: 10;
}
