.hero {
  position: relative;
}

.heroImg {
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.cta {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
