.container .food__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutFood {
  width: 350px;
  min-height: 470px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.aboutFood p {
  padding: 30px;
  text-align: left;
}
.foodPic img {
  height: 486px;
  width: 729px;
}

.gradientRec {
  height: 530px;
  width: 810px;
  margin-top: 50px;
  margin: 50px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 20px;
  opacity: 65%;
  border-image-source: linear-gradient(
    to left,
    var(--color-blue1),
    var(--color-light)
  );

  /* border-color: white;
  border-image-source: linear-gradient(to right, white, #003391);
  border-image-slice: 1;
  border-width: 5px;
  z-index: -1;

  border: 20px solid;
  position: relative; */
}

/* border: 20px solid;
  border-image: linear-gradient(to right, white, var(--color-blue1)); */

/* .aboutFood .learnMoreBtn {
  padding: 30px;
  align-items: left;
} */
@media screen and (max-width: 1024px) {
  .foodSection {
    flex-direction: column;
  }
  .foodPic {
    width: 100%;
  }
}
