.activitiesRec {
  height: 477px;
  width: 100%;
  background-color: var(--color-grey2);
  z-index: -20;
}
.lobbyPic img {
  max-height: 661px;
  max-width: 570px;
}
.aboutActivities {
  max-width: 350px;
  min-height: 470px;
  text-align: left;
}
.learnMoreBtnActivities {
  margin-top: 30px;
}

.activitiesSection {
  display: flex;
  flex-direction: row;
}
.activitiesRec {
  position: relative;
}
.lobbyPic {
  position: absolute;
  align-self: flex-end;
  right: 0;
}
.aboutActivities {
  position: absolute;
  align-self: flex-start;
  left: 150px;
  margin-top: 100px;
  margin-left: 300px;
}

.themeDividerVerticalActivities {
  bottom: 333px;
}

@media screen and (max-width: 1218px) {
  .activitiesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-grey2);
  }

  .lobbyPic {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    align-self: center;
    position: relative;
  }

  .activitiesRec {
    display: none;
  }
  .aboutActivities {
    position: relative;

    align-self: center;
    left: 0;
    margin-top: 100px;
    margin-left: 30px;
  }
}
