.activitiesSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.aboutActivities {
  max-width: 350px;
  min-height: 470px;
  text-align: left;
}

.lobbyPic img {
  max-height: 661px;
  max-width: 570px;
  position: relative;
  align-self: flex-end;
}

.activitiesRec {
  height: 477px;
  width: 100%;
  background-color: var(--color-grey2);
  z-index: -20;
  position: absolute;
}

.roomsSection .themeDividerVerticalRooms {
  position: absolute;
  bottom: 120px;
  left: 16px;
}
