.roomsSection > h3 {
  margin: 1rem 2rem;
}

.roomsSection {
  position: relative;
}

.roomsSection .themeDividerVerticalRooms {
  position: absolute;
  bottom: 120px;
  left: 16px;
}
.doubleRoom,
.sharedRoom {
  position: relative;
}

.doubleRoom h3,
.sharedRoom h3 {
  position: absolute;
  top: 8px;
  right: 16px;
  color: var(--color-blue1);
}
.displayedRoom {
  position: relative;
}
.roomPrices {
  object-position: right top;
  right: 0;
  position: absolute;
  top: 0px;
  z-index: 10;
}
.roomsSection .ThemeDividerHorizontal {
  display: none;
}
.container.container__rooms {
  display: grid;
  grid-template-columns: 1.9fr 1fr;
  grid-template-rows: 2.7fr 13.7fr 1fr 13.7fr 4.2fr;
  grid-column-gap: 26px;
  grid-row-gap: 0px;
  grid-template-areas:
    "displayedRoom ."
    "displayedRoom doubleRoom"
    "displayedRoom ."
    "displayedRoom sharedRoom"
    ". sharedRoom";
}

.displayedRoom {
  grid-area: displayedRoom;
}

.doubleRoom {
  grid-area: doubleRoom;
}
.sharedRoom {
  grid-area: sharedRoom;
}

@media screen and (max-width: 1024px) {
  .roomPrices {
    display: none;
  }
  .roomsSection .themeDividerVerticalRooms {
    display: none;
  }
  .roomsSection .ThemeDividerHorizontal {
    display: block;
  }
  .roomsSection > img {
    width: 100%;
  }
  .container.container__rooms {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 26px;
    grid-template-areas:
      "displayedRoom"
      "doubleRoom"
      "sharedRoom";
  }

  .displayedRoom {
    grid-area: displayedRoom;
  }
  .doubleRoom {
    grid-area: doubleRoom;
  }
  .sharedRoom {
    grid-area: sharedRoom;
  }
  /* .roomPrices {
    grid-area:  roomPrices;
  } */
}
