#toSubscriptions {
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
}

.themeDividerVerticalSubscriptions {
  color: var(--color-blue1);
  transform: rotate(-90deg);
  width: 15%;
  margin-bottom: 5%;
  position: absolute;
  bottom: 100px;
}

.displayedSubscription {
  position: relative;
}

.subscriptionPrices {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 83%;
}

.month,
.year {
  position: relative;
}

.month h2,
.year h2 {
  position: absolute;
  top: 8px;
  right: 16px;
  color: var(--color-light);
  font-size: 24px;
}

.container.container__subscriptions {
  display: grid;
  grid-template-columns: 1.9fr 1fr;
  grid-template-rows: 2.7fr 13.7fr 1fr 13.7fr 4.2fr;
  grid-column-gap: 26px;
  grid-row-gap: 0px;
  grid-template-areas:
    "displayedSubscription ."
    "displayedSubscription month"
    "displayedSubscription ."
    "displayedSubscription year"
    ". year";
}
.displayedSubscription {
  grid-area: displayedSubscription;
}
.subscription2 {
  grid-area: month;
}
.subscription3 {
  grid-area: year;
}

@media screen and (max-width: 1024px) {
  .subscriptionPrices {
    display: none;
  }
  .themeDividerVerticalSubscriptions {
    display: none;
  }

  #toSubscriptionsn > img {
    width: 100%;
  }
  .container.container__subscriptions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 26px;
    grid-template-areas:
      "displayedSubscription"
      "month"
      "year";
  }
}
