footer {
  margin-top: 0;
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: var(--color-light);

  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  height: 100px;
  /* gap: 2rem;
    padding: 0 2rem;
    letter-spacing: 0.5em;
    position: relative; */
}

footer a {
  font-size: 30px;
  padding: 12px;
}
