#toYoga {
  margin-top: 200px;
  margin-bottom: 150px;
  position: relative;
}

.container.yoga__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.yogaPic {
  max-height: 655px;
  max-width: 664px;
}

.blueRectangle {
  height: 655px;
  width: 664px;
  background-color: var(--color-blue2);
  z-index: -50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutYogaParagraph p,
.aboutYogaParagraph h2 {
  text-align: left;
  color: var(--color-light);
  padding-bottom: 30px;
}
.aboutYogaParagraph {
  max-width: 450px;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-light);
  padding: 30px;
}
.themeDividerVerticalyoga {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1326px) {
  .container.yoga__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .blueRectangle {
    height: 100%;
    width: 100%;
    padding: 12px;
    justify-content: center;
    align-items: center;
  }
}

/* ===================== complicatred design ===================== */

/* .container.yoga__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.aboutYogaParagraph {
  max-width: 450px;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-light);
}

.aboutYogaParagraph p {
  text-align: left;
  color: var(--color-light);
}
.yogaPic {
  max-height: 655px;
  max-width: 664px;
  z-index: -100;
  position: absolute;
  left: 0;
}
.blueRectangle {
  height: 433px;
  width: 595px;
  background-color: var(--color-blue2);
  position: absolute;
  display: top right;
  z-index: -50;
}

.whiteRectangle {
  height: 433px;
  width: 595px;
  background-color: var(--color-grey2);
  opacity: 45%;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: -30;
}

.rectangleContainer {
  height: 484px;
  width: 655px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */
