#toStudio {
  display: flex;
  flex-direction: row;
  margin-top: 300px;
  margin-bottom: 150px;
}

.environmentRec {
  min-height: 477px;
  width: 100%;
  background-color: var(--color-grey2);
  z-index: -20;
  position: relative;
}
.lobbyPic img {
  height: 661px;
  width: 570px;
}

.lobbyPic {
  position: absolute;
  align-self: flex-end;
  right: 0;
}

.aboutEnvironment {
  max-width: 340px;
  max-height: 470px;
  text-align: left;
  position: absolute;
  align-self: flex-start;
  left: 150px;
  margin-top: 100px;
  margin-left: 200px;
}

.learnMoreBtnStudio {
  margin-top: 30px;
}

.themeDividerVerticalStudio {
  bottom: 333px;
}
.themeDividerHorizontalStudio {
  display: none;
}

@media screen and (max-width: 1326px) {
  #toStudio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-grey2);
  }
  .lobbyPic img {
    width: 100%;
    height: 100%;
  }
  .lobbyPic {
    margin-top: 50px;
    align-self: center;
    position: relative;
    left: 0;
  }

  .environmentRec {
    display: none;
  }
  .aboutEnvironment {
    position: relative;
    align-self: center;
    left: 0;
    margin-top: 70px;
    margin: 30px;
  }

  .themeDividerVerticalStudio {
    display: none;
  }
  .themeDividerHorizontalStudio {
    display: block;
    top: -10px;
  }
}

/* .aboutActivities {
  position: relative;
  align-self: center;
  text-align: center;
  left: 0;
  margin-top: 30px;
} */
