.studioContainer {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-top: 300px;
  margin-bottom: 150px;
}

.environmentRec {
  min-height: 477px;
  width: 100%;
  background-color: var(--color-grey2);
  z-index: -20;
  position: relative;
}
.studioPic img {
  height: 600px;
  width: 500px;
}

.studioPic {
  align-self: flex-end;
  right: 0;
}

.aboutEnvironment1 {
  margin-top: 2rem;
  margin-bottom: 3em;
  width: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 15%;
  text-align: left;
}
.aboutEnvironment p {
  padding-bottom: 2rem;
}
.aboutEnvironment h2 {
  margin: 0;
  margin-bottom: 2rem;
}

.themeDividerVerticalStudio {
  color: var(--color-blue1);
  transform: rotate(-90deg);
  width: 15%;
  align-self: flex-end;
  margin-bottom: 25%;
  position: absolute;
}
.themeDividerHorizontalStudio {
  display: none;
}
@media screen and (max-width: 1024px) {
  .themeDividerVerticalStudio {
    display: none;
  }
  .themeDividerHorizontalStudio {
    display: block;
    color: var(--color-blue1);
    margin-bottom: 2rem;
  }

  .environmentRec {
    display: none;
  }

  .studioContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .studioPic {
    width: 100%;
    margin: 0;
    top: 0;
  }

  .studioPic > img {
    width: 100%;
    top: 0;
  }
  .aboutEnvironment {
    width: 70%;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 3em;
  }
  .aboutEnvironment1 {
    background-color: var(--color-grey2);
    width: 100%;
    position: sticky;
    margin: 0;
  }
}
